# logs
*.log

# generated sources
target/

# intellij IDEA
.DS_Store
.idea
*.iml

# eclipse specific git ignore
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
local.properties
.classpath
.settings/
.loadpath
